@import "./utilities/utilities.less";

// CSS Friendly Symbols
@Aacute		: "\00c1";	// Á	capital A, acute accent
@aacute		: "\00e1";	// á	small a, acute accent
@Acirc		: "\00c2";	// Â	capital A, circumflex accent
@acirc		: "\00e2";	// â	small a, circumflex accent
@acute		: "\00b4";	// ´	acute accent
@AElig		: "\00c6";	// Æ	capital AE diphthong (ligature)
@aelig		: "\00e6";	// æ	small ae diphthong (ligature)
@Agrave		: "\00c0";	// À	capital A, grave accent
@agrave		: "\00e0";	// à	small a, grave accent
@alefsym	: "\2135";	// ℵ	alef symbol
@Alpha		: "\0391";	// Α	greek capital letter alpha
@alpha		: "\03b1";	// α	greek small letter alpha
@amp		: "\0026";	// &	ampersand
@and		: "\2227";	// ⊥	logical and, a.k.a. wedge
@ang		: "\2220";	// ∠	angle
@Aring		: "\00c5";	// Å	capital A, ring
@aring		: "\00e5";	// å	small a, ring
@asymp		: "\2248";	// ≈	almost equal to, a.k.a. asymptotic to
@Atilde		: "\00c3";	// Ã	capital A, tilde
@atilde		: "\00e3";	// ã	small a, tilde
@Auml		: "\00c4";	// Ä	capital A, dieresis or umlaut mark
@auml		: "\00e4";	// ä	small a, dieresis or umlaut mark
@bdquo		: "\201E";	// „	double low-9 quotation mark
@Beta		: "\0392";	// Β	greek capital letter beta
@beta		: "\03b2";	// β	greek small letter beta
@brvbar		: "\00a6";	// ¦	broken (vertical) bar
@bull		: "\2022";	// •	bullet, a.k.a. black small circle
@cap		: "\2229";	// ∩	intersection, a.k.a. cap
@Ccedil		: "\00c7";	// Ç	capital C, cedilla
@ccedil		: "\00e7";	// ç	small c, cedilla
@cedil		: "\00b8";	// ¸	cedilla
@cent		: "\00a2";	// ¢	cent sign
@Chi		: "\03a7";	// Χ	greek capital letter chi
@chi		: "\03C7";	// χ		greek small letter chi
@circ		: "\02c6";	// ˆ	modifier letter circumflex accent
@clubs		: "\2663";	// ♣	black club suit, a.k.a. shamrock
@cong		: "\2245";	// ≅	approximately equal to
@copy		: "\00a9";	// ©	copyright sign
@crarr		: "\21B5";	// ↵	downwards arrow with corner leftwards, a.k.a. carriage return
@cup		: "\222A";	// ∪	union, a.k.a. cup
@curren		: "\00a4";	// ¤	general currency sign
@dagger		: "\2020";	// †	dagger
@Dagger		: "\2021";	// ‡	double dagger
@darr		: "\2193";	// ↓	downwards arrow
@dArr		: "\21D3";	// ⇓	downwards double arrow
@deg		: "\00b0";	// °	degree sign
@Delta		: "\0394";	// Δ	greek capital letter delta
@delta		: "\03b4";	// δ		greek small letter delta
@diams		: "\2666";	// ♦	black diamond suit
@divide		: "\00f7";	// ÷	divide sign
@Eacute		: "\00c9";	// É	capital E, acute accent
@eacute		: "\00e9";	// é	small e, acute accent
@Ecirc		: "\00ca";	// Ê	capital E, circumflex accent
@ecirc		: "\00ea";	// ê	small e, circumflex accent
@Egrave		: "\00c8";	// È	capital E, grave accent
@egrave		: "\00e8";	// è	small e, grave accent
@empty		: "\2205";	// ∅	empty set, a.k.a. null set, a.k.a. diameter
@Epsilon	: "\0395";	// Ε	greek capital letter epsilon
@epsilon	: "\03b5";	// ε		greek small letter epsilon
@equiv		: "\2261";	// ≡	identical to
@Eta		: "\0397";	// Η	greek capital letter eta
@eta		: "\03b7";	// η	greek small letter eta
@ETH		: "\00d0";	// Ð	capital Eth, Icelandic
@eth		: "\00f0";	// ð	small eth, Icelandic
@Euml		: "\00cb";	// Ë	capital E, dieresis or umlaut mark
@euml		: "\00eb";	// ë	small e, dieresis or umlaut mark
@exist		: "\2203";	// ∃		there exists
@fnof		: "\0192";	// ƒ	latin small f with hook
@forall		: "\2200";	// ∀	for all
@frac12		: "\00bd";	// ½	fraction one-half
@frac14		: "\00bc";	// ¼	fraction one-quarter
@frac34		: "\00be";	// ¾	fraction three-quarters
@frasl		: "\2044";	// ⁄/	fraction slash
@Gamma		: "\0393";	// Γ	greek capital letter gamma
@gamma		: "\03b3";	// γ		greek small letter gamma
@ge			: "\2265";	// ≥	greater-than or equal to
@gt			: "\003e";	// >	greater-than sign
@harr		: "\2194";	// ↔	left right arrow
@hArr		: "\21D4";	// ⇔	left right double arrow
@hearts		: "\2665";	// ♥	black heart suit, a.k.a. valentine
@hellip		: "\2026";	// …	horizontal ellipsis, a.k.a. three dot leader
@Iacute		: "\00cd";	// Í	capital I, acute accent
@iacute		: "\00ed";	// í	small i, acute accent
@Icirc		: "\00ce";	// Î	capital I, circumflex accent
@icirc		: "\00ee";	// î	small i, circumflex accent
@iexcl		: "\00a1";	// ¡	inverted exclamation mark
@Igrave		: "\00cc";	// Ì	capital I, grave accent
@igrave		: "\00ec";	// ì	small i, grave accent
@image		: "\2111";	// ℑ		blackletter capital I, a.k.a. imaginary part
@infin		: "\221E";	// ∞	infinity
@int		: "\222B";	// ∫	integral
@Iota		: "\0399";	// Ι	greek capital letter iota
@iota		: "\03b9";	// ι		greek small letter iota
@iquest		: "\00bf";	// ¿	inverted question mark
@isin		: "\2208";	// ∈		element of
@Iuml		: "\00cf";	// Ï	capital I, dieresis or umlaut mark
@iuml		: "\00ef";	// ï	small i, dieresis or umlaut mark
@Kappa		: "\039a";	// Κ	greek capital letter kappa
@kappa		: "\03ba";	// κ		greek small letter kappa
@Lambda		: "\039b";	// Λ	greek capital letter lambda
@lambda		: "\03bb";	// λ		greek small letter lambda
@lang		: "\2329";	// 〈	left-pointing angle bracket
@laquo		: "\00ab";	// «	angle quotation mark, left
@larr		: "\2190";	// ←	leftwards arrow
@lArr		: "\21D0";	// ⇐	leftwards double arrow
@lceil		: "\2308";	// ⌈	left ceiling, a.k.a. apl upstile
@ldquo		: "\201C";	// “	left double quotation mark
@le			: "\2264";	// ≤	less-than or equal to
@lfloor		: "\230A";	// ⌊	left floor, a.k.a. apl downstile
@lowast		: "\2217";	// ∗	asterisk operator
@loz		: "\25CA";	// ◊	lozenge
@lsaquo		: "\2039";	// ‹	single left-pointing angle quotation mark
@lsquo		: "\2018";	// ‘	left single quotation mark
@lt			: "\003c";	// <	less-than
@macr		: "\00af";	// ¯	macron
@mdash		: "\2014";	// —	em dash
@micro		: "\00b5";	// µ	micro sign
@middot		: "\00b7";	// ·	middle dot
@minus		: "\2212";	// −	minus sign
@Mu			: "\039c";	// Μ	greek capital letter mu
@mu			: "\03bc";	// μ	greek small letter mu
@nabla		: "\2207";	// ∇	nabla, a.k.a. backward difference
@ndash		: "\2013";	// –	en dash
@ne			: "\2260";	// ≠	not equal to
@ni			: "\220B";	// ∋		contains as member
@not		: "\00ac";	// ¬	not sign
@notin		: "\2209";	// ∉	not an element of
@nsub		: "\2284";	// ⊄	not a subset of
@Ntilde		: "\00d1";	// Ñ	capital N, tilde
@ntilde		: "\00f1";	// ñ	small n, tilde
@Nu			: "\039d";	// Ν	greek capital letter nu
@nu			: "\03bd";	// ν		greek small letter nu
@Oacute		: "\00d3";	// Ó	capital O, acute accent
@oacute		: "\00f3";	// ó	small o, acute accent
@Ocirc		: "\00d4";	// Ô	capital O, circumflex accent
@ocirc		: "\00f4";	// ô	small o, circumflex accent
@OElig		: "\0152";	// Œ	latin capital ligature oe
@oelig		: "\0153";	// œ	latin small ligature oe
@Ograve		: "\00d2";	// Ò	capital O, grave accent
@ograve		: "\00f2";	// ò	small o, grave accent
@oline		: "\203E";	// ‾	overline, a.k.a. spacing overscore
@Omega		: "\03a9";	// Ω	greek capital letter omega
@omega		: "\03C9";	// ω	greek small letter omega
@Omicron	: "\039f";	// Ο	greek capital letter omicron
@omicron	: "\03bf";	// ο	greek small letter omicron
@oplus		: "\2295";	// ⊕	circled plus, a.k.a. direct sum
@or			: "\2228";	// ⊦		logical or, a.k.a. vee
@ordf		: "\00aa";	// ª	ordinal indicator, feminine
@ordm		: "\00ba";	// º	ordinal indicator, masculine
@Oslash		: "\00d8";	// Ø	capital O, slash
@oslash		: "\00f8";	// ø	small o, slash
@Otilde		: "\00d5";	// Õ	capital O, tilde
@otilde		: "\00f5";	// õ	small o, tilde
@otimes		: "\2297";	// ⊗	circled times, a.k.a. vector product
@Ouml		: "\00d6";	// Ö	capital O, dieresis or umlaut mark
@ouml		: "\00f6";	// ö	small o, dieresis or umlaut mark
@para		: "\00b6";	// ¶	pilcrow (paragraph sign)
@part		: "\2202";	// ∂	partial differential
@permil		: "\2030";	// ‰	per mille sign
@perp		: "\22A5";	// ⊥	up tack
@Phi		: "\03a6";	// Φ	greek capital letter phi
@phi		: "\03C6";	// φ	greek small letter phi
@Pi			: "\03a0";	// Π	greek capital letter pi
@pi			: "\03c0";	// π	greek small letter pi
@piv		: "\03D6";	// ϖ	greek pi symbol
@plusmn		: "\00b1";	// ±	plus-or-minus sign
@pound		: "\00a3";	// £	pound sterling sign
@prime		: "\2032";	// ′	prime, a.k.a. minutes, a.k.a. feet
@Prime		: "\2033";	// ″	double prime, a.k.a. seconds, a.k.a. inches
@prod		: "\220F";	// ∏	n-ary product, a.k.a. product sign
@prop		: "\221D";	// ∝	proportional to
@Psi		: "\03a8";	// Ψ	greek capital letter psi
@psi		: "\03C8";	// ψ	greek small letter psi
@quot		: "\0022";	// "	quotation mark
@radic		: "\221A";	// √	square root, a.k.a. radical sign
@rang		: "\232A";	// 〉	right-pointing angle bracket
@raquo		: "\00bb";	// »	angle quotation mark, right
@rarr		: "\2192";	// →	rightwards arrow
@rArr		: "\21D2";	// ⇒	rightwards double arrow
@rceil		: "\2309";	// ⌉	right ceiling
@rdquo		: "\201D";	// ”	right double quotation mark
@real		: "\211C";	// ℜ	blackletter capital R, a.k.a. real part symbol
@reg		: "\00ae";	// ®	registered sign
@rfloor		: "\230B";	// ⌋	right floor
@Rho		: "\03a1";	// Ρ	greek capital letter rho
@rho		: "\03c1";	// ρ	greek small letter rho
@rsaquo		: "\203A";	// ›	single right-pointing angle quotation mark
@rsquo		: "\2019";	// ’	right single quotation mark
@sbquo		: "\201A";	// ‚	single low-9 quotation mark
@Scaron		: "\0160";	// Š	latin capital letter s with caron
@scaron		: "\0161";	// š	latin small letter s with caron
@sdot		: "\22C5";	// ⋅		dot operator
@sect		: "\00a7";	// §	section sign
@Sigma		: "\03a3";	// Σ	greek capital letter sigma
@sigma		: "\03C3";	// σ	greek small letter sigma
@sigmaf		: "\03C2";	// ς		greek small letter final sigma
@sim		: "\223C";	// ∼	tilde
@spades		: "\2660";	// ♠	black spade suit
@sub		: "\2282";	// ⊂	subset of
@sube		: "\2286";	// ⊆	subset of or equal to
@sum		: "\2211";	// ∑	n-ary sumation
@sup		: "\2283";	// ⊃	superset of
@sup1		: "\00b9";	// ¹	superscript one
@sup2		: "\00b2";	// ²	superscript two
@sup3		: "\00b3";	// ³	superscript three
@supe		: "\2287";	// ⊇	superset of or equal to
@szlig		: "\00df";	// ß	small sharp s, German (sz ligature)
@Tau		: "\03a4";	// Τ	greek capital letter tau
@tau		: "\03C4";	// τ		greek small letter tau
@there4		: "\2234";	// ∴	therefore
@Theta		: "\0398";	// Θ	greek capital letter theta
@theta		: "\03b8";	// θ	greek small letter theta
@thetasym	: "\03D1";	// ϑ	greek small letter theta symbol
@THORN		: "\00de";	// Þ	capital THORN, Icelandic
@thorn		: "\00fe";	// þ	small thorn, Icelandic
@tilde		: "\02dc";	// ˜	small tilde
@times		: "\00d7";	// ×	multiply sign
@trade		: "\2122";	// ™	trade mark sign
@Uacute		: "\00da";	// Ú	capital U, acute accent
@uacute		: "\00fa";	// ú	small u, acute accent
@uarr		: "\2191";	// ↑	upwards arrow
@uArr		: "\21D1";	// ⇑	upwards double arrow
@Ucirc		: "\00db";	// Û	capital U, circumflex accent
@ucirc		: "\00fb";	// û	small u, circumflex accent
@Ugrave		: "\00d9";	// Ù	capital U, grave accent
@ugrave		: "\00f9";	// ù	small u, grave accent
@uml		: "\00a8";	// ¨	umlaut (dieresis)
@upsih		: "\03D2";	// ϒ	greek upsilon with hook symbol
@Upsilon	: "\03a5";	// Υ	greek capital letter upsilon
@upsilon	: "\03C5";	// υ	greek small letter upsilon
@Uuml		: "\00dc";	// Ü	capital U, dieresis or umlaut mark
@uuml		: "\00fc";	// ü	small u, dieresis or umlaut mark
@weierp		: "\2118";	// ℘	script capital P, a.k.a. power set, a.k.a. Weierstrass p
@Xi			: "\039e";	// Ξ	greek capital letter xi
@xi			: "\03be";	// ξ		greek small letter xi
@Yacute		: "\00dd";	// Ý	capital Y, acute accent
@yacute		: "\00fd";	// ý	small y, acute accent
@yen		: "\00a5";	// ¥	yen sign
@yuml		: "\00ff";	// ÿ	small y, dieresis or umlaut mark
@Yuml		: "\0178";	// Ÿ	latin capital letter y with diaeresis
@Zeta		: "\0396";	// Ζ	greek capital letter zeta
@zeta		: "\03b6";	// ζ	greek small letter zeta
