// == Aesthetics ==============================================================
// ============================================================================
.before(@content) 	{ &::before	{ content: @content; } }
.after(@content) 	{ &::after 	{ content: @content; } }

// == Backgrounds =============================================================
// ============================================================================
.bg(@color) when(iscolor(@color)) {
	.bg(@color, alpha(@color));
}
.bg(@color, @opacity) when(iscolor(@color)) {
	background-color: fade(@color, 1);
}
.bg(@color, @opacity) when(iscolor(@color)) and not(@opacity = 1) {
	background-color: fade(@color, @opacity);
}
.bg(@url, @repeat: no-repeat) when(isstring(@url)) {
	background-image: url(@url);
	background-repeat: @repeat;
}
.bg2x(@url, @size: auto auto, @extension: "png") {
	.bg("@{url}.@{extension}", no-repeat);
	background-size: @size;

	@media(-webkit-min-device-pixel-ratio: 1.5),
			(-moz-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {
		background-image: url("@{url}@2x.@{extension}");
	}
}
.gradient-horizontal(@a, @b)			{ background-image: linear-gradient(to right, @a, @b); }
.gradient-horizontal(@a, @b, @c)		{ background-image: linear-gradient(to right, @a, @b, @c); }
.gradient-horizontal(@a, @b, @c, @d)	{ background-image: linear-gradient(to right, @a, @b, @c, @d); }
.gradient-vertical(@a, @b)				{ background-image: linear-gradient(to bottom, @a, @b); }
.gradient-vertical(@a, @b, @c)			{ background-image: linear-gradient(to bottom, @a, @b, @c); }
.gradient-vertical(@a, @b, @c, @d)		{ background-image: linear-gradient(to bottom, @a, @b, @c, @d); }

// == Layout and Positioning ==================================================
// ============================================================================
// -- Layouts -----------------------------------------------------------------
.inline-block() {
	 display: inline-block;
	*display: inline;
	 vertical-align: baseline;
	*vertical-align: auto;
	zoom: 1;
}
.clearfix() {
	*zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}
.inline-list(@spacing: 20px) {
	overflow: hidden;
	> li {
		float: left;
		list-style-type: none;
		margin-right: @spacing;
		&:last-child { margin-right: 0; }
	}
}

// -- Positioning -------------------------------------------------------------
.absolute(@top: -, @right: -, @bottom: -, @left: -) { position: absolute; }
.absolute(@top: -, @right: -, @bottom: -, @left: -) { .position(@top, @right, @bottom, @left); }
.fixed(@top: -, @right: -, @bottom: -, @left: -) 	{ position: fixed; }
.fixed(@top: -, @right: -, @bottom: -, @left: -) 	{ .position(@top, @right, @bottom, @left); }
.relative(@top: -, @right: -, @bottom: -, @left: -) { position: relative; }
.relative(@top: -, @right: -, @bottom: -, @left: -) { .position(@top, @right, @bottom, @left); }
.sticky(@top: -, @right: -, @bottom: -, @left: -) 	{ position: sticky; }
.sticky(@top: -, @right: -, @bottom: -, @left: -) 	{ .position(@top, @right, @bottom, @left); }
.position(@top: -, @right: -, @bottom: -, @left: -) when not (@top = -)		{ top: @top; }
.position(@top: -, @right: -, @bottom: -, @left: -) when not (@right = -)	{ right: @right; }
.position(@top: -, @right: -, @bottom: -, @left: -) when not (@bottom = -)	{ bottom: @bottom; }
.position(@top: -, @right: -, @bottom: -, @left: -) when not (@left = -)	{ left: @left; }

// -- Spacing -----------------------------------------------------------------
.centered() 				{ .margin-horizontal(auto); }
.margin-horizontal(@value) 	{ margin-left: @value;  margin-right: @value; }
.margin-vertical(@value) 	{ margin-top: @value;   margin-bottom: @value; }
.padding-horizontal(@value) { padding-left: @value; padding-right: @value; }
.padding-vertical(@value) 	{ padding-top: @value;  padding-bottom: @value; }

// -- Sizing ------------------------------------------------------------------
.size(@ratio) 				{ .size(@ratio, @ratio); }
.min-size(@ratio) 			{ .min-size(@ratio, @ratio); }
.max-size(@ratio) 			{ .max-size(@ratio, @ratio); }
.size(@width, @height) 		{ height: @height; width: @width; }
.min-size(@width, @height) 	{ min-height: @height; min-width: @width; }
.max-size(@width, @height) 	{ max-height: @height; max-width: @width; }

// == Shapes ==================================================================
// ============================================================================
.triangle(@direction, @size: 10px, @color: #000) {
	.size(0);
	border: (@size / 2) solid transparent;
}
.triangle(@direction, @size, @color) when(@direction = up) 		{ border-bottom-color: @color; }
.triangle(@direction, @size, @color) when(@direction = down) 	{ border-top-color: @color; }
.triangle(@direction, @size, @color) when(@direction = left) 	{ border-right-color: @color; }
.triangle(@direction, @size, @color) when(@direction = right) 	{ border-left-color: @color; }

// == Typography ==============================================================
// ============================================================================
.bold() 		{ font-weight: bold; }
.italic() 		{ font-style: italic; }
.uppercase() 	{ text-transform: uppercase; }
.lowercase() 	{ text-transform: lowercase; }
.normal() 		{
	font-weight: normal;
	font-style: normal;
	text-transform: none;
}

// == User Interaction ========================================================
// ============================================================================
.clickable() {
	.user-select(none);
	cursor: pointer;
}
.bg-hover-darken(@color, @percentage: 15%) 	{ .bg-hover-color(@color, darken(@color, @percentage)); }
.bg-hover-lighten(@color, @percentage: 10%) { .bg-hover-color(@color, lighten(@color, @percentage)); }
.bg-hover-color(@color, @toColor) {
	.bg(@color);
	&:hover { .bg(@toColor); }
}
.resizable(@direction) {
	resize: @direction;
	overflow: auto;
}
